Options +FollowSymLinks
RewriteEngine On
RewriteRule ^bloglar/([a-z0-9\-]+)$ bloglar/blog-detay.php?slug=$1 [L]
RewriteRule ^hizmet/([a-z0-9\-]+)$ hizmet/hizmet-detay.php?slug=$1 [L]
RewriteRule ^proje/([a-z0-9\-]+)$ proje/proje-detay.php?slug=$1 [L]
RewriteRule ^urunler/([a-z0-9\-]+)$ urunler/urun-detay.php?slug=$1 [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([a-zA-Z0-9_-]+)$ $1.php [L]

DirectoryIndex index.php

ErrorDocument 404 /404.php

